.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-content a:hover {
    background-color: #ddd;
}

.menu:hover .menu-content {
    display: block;
}

.count-circle {
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-circle-green {
  width: 20px;
  height: 20px;
  background-color: green;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .dialog-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    padding-top: 0px;
  }

  @media screen and (max-width: 992px) {
    .dialog-content {
      width: 80%;
    }
  }
  
  .close {
    color: #aaa;
    float: right;
    margin-top: 11px;
    font-size: 28px;
    font-weight: bold;
  }

  .close-notification {
    margin-top: -30px !important;
    font-size: 20px !important;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .friend-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .card-content p {
    margin: 0;
    padding: 5px 0;
  }

  .card-content {
    margin-bottom: 10px;
  }
  
  .card-actions button {
    margin-right: 5px;
  }

  .unfriend-button {
    float: right;
    margin-top: -38px;
  }

  .dialog-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dialog-button-red {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }