<div class="post">
    <div class="postHeader">Write a post</div>
    <div class="caption"><textarea id="post-content"></textarea></div>
    <input type="file" class="file-chooser" *ngIf="!generateWithAI">
    <div class="actions">
        <span><input type="checkbox" (click)="setGenerateWithAI()" #aicheckbox><span (click)="toggleCheckbox()">Generate with AI</span></span>
        <button class="comment-button">Post</button>
    </div>
</div>
<hr *ngIf="posts && posts.length>0">
<div *ngFor="let post of posts" class="post" [id]="post.postId">
    <div class="username">{{post.userId}}</div>
    <div class="caption">{{post.caption}}</div>
    <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Post Image" class="post-image">
    <div class="actions">
        <button class="like-button" (mouseover)="showPopup($event,post.likes)" (mouseout)="closePopup()">Like ({{post.likes?post.likes.length:0}})</button>
        <input type="text" placeholder="Write a comment..." class="comment-box">
        <button class="comment-button">Comment</button>
    </div>
    <hr *ngIf="post.comments && post.comments.length>0">
    <div class="comments" *ngIf="post.comments && post.comments.length>0">
        <div class="comment" *ngFor="let comment of post.comments">
            <div class="comment-username">{{comment.user}}</div>
            <div class="comment-text">{{comment.comment}}</div>
        </div>
    </div>
</div>
<div class="popup" [ngStyle]="{display: popupVisible ? 'block' : 'none'}" id="popup" #popup>
    <div class="popup-header">
        Liked By
        <span class="popup-close" (click)="closePopup()">[X]</span>
    </div>
    <ul>
        <li *ngFor="let str of getLikesToShow()">{{ str }}</li>
    </ul>
</div>