<div *ngFor="let post of posts" class="post">
    <div class="username">{{post.userId}}</div>
    <div class="caption">{{post.caption}}</div>
    <img [src]="post.imageUrl" alt="Post Image" class="post-image">
    <div class="actions">
        <button class="like-button">Like</button>
        <input type="text" placeholder="Write a comment..." class="comment-box">
        <button class="comment-button">Comment</button>
    </div>
    <hr *ngIf="post.comments && post.comments.length>0">
    <div class="comments" *ngIf="post.comments && post.comments.length>0">
        <div class="comment" *ngFor="let comment of post.comments">
            <div class="comment-username">{{comment.user}}</div>
            <div class="comment-text">{{comment.comment}}</div>
        </div>
    </div>
</div>