.post {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.username,.postHeader {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
#post-content {
    width:100%;
    height:50px;
    outline: none;
}
.caption {
    margin-bottom: 10px;
    font-size: 1em;
}
.post-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comment-box, .friend-id-box {
    flex-grow: 1;
    margin-right: 10px;
    height:30px;
    width:100px;
    margin-left: 5px;
}

.friend-id-box {
    margin-top: 10px;
    width: 250px;
    outline: none;
}
.comment-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comments {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.comment-username {
    font-weight: bold;
    font-size: 14px;
}
.comment-text {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 14px;
}
.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .popup-header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .popup-close {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    color: red;
  }