<div *ngFor="let post of posts" class="post">
    <div class="username">Username</div>
    <div class="caption">{{post.caption}}</div>
    <img [src]="post.imageUrl" alt="Post Image" class="post-image">
    <div class="actions">
        <button class="like-button">Like</button>
        <input type="text" placeholder="Write a comment..." class="comment-box">
        <button class="comment-button">Comment</button>
    </div>
    <hr>
    <div class="comments">
        <div class="comment">
            <div class="comment-username">User1</div>
            <div class="comment-text">This is a comment.</div>
        </div>
        <div class="comment">
            <div class="comment-username">User2</div>
            <div class="comment-text">Another comment.</div>
        </div>
    </div>
</div>